extends ../layout

block title 
    title Detalles: #{ride.name}

block content 
    main
        h1= ride.name
        if message 
            p.message= message
        div.ride-details
            p #[strong ID:] #{ride.id}
            p #[strong Estado:] #{ride.status}
            p #[strong Duración:] #{ride.durationSeconds} seg.
            p #[strong Altura mínima:] #{ride.minHeight} cm
            p #[strong Edad mínima:] #{ride.minAge} años
            p #[strong Fecha creación:] #{ride.creationDate}
            
        div.actions-group
            if(user && user.role==="admin")
                a.btn(href=`/rides/${ride.id}/edit`) Editar Datos
                
                //- Formulario para eliminar sin JavaScript
                form(action=`/rides/${ride.id}/delete` method="POST" onsubmit="return confirm('¿Borrar esta atracción?');" style="display:inline;")
                    button.btn-danger(type="submit") Eliminar Atracción
                
            a.btn-secondary(href="/rides") Volver al listado